body {
  background: #eeeeee;
}
.container {
  background: white;
  padding: 30px;
}
form {
  position: relative;
  padding: 20px;
  background: #f1f1f1;
}
form fieldset {
  width: 50%;
}
form label {
  font-weight: bold;
  display: block;
  margin: 0 0 3px;
}
form label strong {
  color: #ff0000;
}
form input,
form textarea {
  width: 95%;
  padding: 6px 10px;
}
form textarea {
  height: 80px;
}
form .btn-inactive {
  background-color: #eee;
  opacity: 0.5;
  cursor: default;
}
table textarea {
  width: 95%;
  padding: 6px 10px;
}
#char_count {
  font-size: 8em;
  font-weight: bold;
  color: green;
  position: absolute;
  top: 80px;
  right: 60px;
}
